p.sample1 {border: double 10px red;margin-right:900px;}
p.sample2 {border: double 10px red;margin-right:920px;}
p.sample3 {margin: 30px 30px;border: inset 10px #ff00ff;margin-right:900px;margin-left:5px;}
p.sample4 {border: double 5px red;margin-right:800px;}
